@use '../../mixins' as mixins

.inspection
  padding: 1rem

.list
  display: flex
  flex-direction: column
  gap: 1rem

.entry
  background: var(--neutral-100)
  padding: 1rem
  @include mixins.rounded
  @include mixins.shadow

.fail-fields
  display: flex
  flex-direction: column
  gap: 0.5rem
  margin-top: 0.5rem

.save-btn
  margin-top: 1rem
  padding: 0.5rem 1rem
  background: var(--secondary-color)
  color: var(--neutral-100)
  border: none
  border-radius: var(--base-radius)
  @include mixins.shadow

.bulk
  margin-top: 2rem
